<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/logs/clientesBI2.log"/>
		<param name="Append" value="true"/>
		<param name="DatePattern" value="'.'yyyy-MM-dd"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %p %c{2} [%M] |%L| %m %n" />
		</layout>
	</appender>
	
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %p %c{2} [%M] |%L| %m %n" />
		</layout>
	</appender>
	
	<logger name="ec.com.bancoInternacional.helpers">
		<level value="ERROR" />
		<appender-ref ref="FILE" />
	</logger>
	
	<logger name="ec.com.bancoInternacional.interceptors">
		<level value="ERROR" />
		<appender-ref ref="FILE" />
	</logger>
	
	<logger name="ec.com.bancoInternacional">
<!--		<level value="INFO"/>-->
		<level value="DEBUG" />
		<appender-ref ref="FILE" />
	</logger>
	
	<logger name="org.apache.tiles.context">
		        <level value="OFF"/>
		<!--<level value="DEBUG" />-->
		<appender-ref ref="FILE" />
	</logger>

	<logger name="org.quartz">
		<level value="OFF" />
		<!--<level value="DEBUG" />-->
		<appender-ref ref="FILE" />
	</logger>

	<logger name="org.apache">
		<level value="OFF" />
		<!--<level value="DEBUG" />-->
		<appender-ref ref="FILE" />
	</logger>

	<logger name="com.opensymphony.xwork2.ActionSupport">
		<level value="OFF" />
		<appender-ref ref="FILE" />
	</logger>

	<logger name="com.opensymphony.xwork2">
		<level value="OFF" />
		<appender-ref ref="FILE" />
	</logger>
	
	<logger name="freemarker.cache">
		<level value="OFF" />
		<appender-ref ref="FILE" />
	</logger>
	
	<logger name="com.ibm.connector.as400">
		<level value="OFF" />
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="FILE" />
	</logger>
	
		
	<root>
		<level value="ALL" />
		<appender-ref ref="CONSOLE_WEB" />
	</root>

</log4j:configuration>
